body
{
    background-size:cover;
}

.heading
{
    font-size: 25px;
    color: rgb(253, 252, 252);
    width: 100%;
    margin: 0px;
}

.note
{
    color: black;
    font-size:15px;
}